import("stringr", "txtplot")
importFrom("stats", "median")
    importFrom("utils", "setTxtProgressBar", "txtProgressBar")
 importFrom("utils", "data")
export('countMedian', 'plotMedianReadCounts')
import("RUnit")
